ConfigFilePath=C:\Users\Brendan Ortiz\Documents\GOProjcets\AllSecure\Config\AllSecure.Config
DatabaseFilePath=C:\Users\Brendan Ortiz\Documents\GOProjcets\AllSecure\Database\AllSecure.db
ProjectDir=C:\Users\Brendan Ortiz\Documents\GOProjcets\AllSecure
TeamServerName=AllSecureTS
TeamServerAddress=127.0.0.1
TeamServerPort=:31337
