{
    "Name": "AllSecureTS",
    "Address": "127.0.0.1",
    "Port": "31337",
    "DatabasePath" : "C:\\Users\\Brendan Ortiz\\Documents\\GOProjcets\\AllSecure\\Database\\AllSecure.db",
    "ConfigPath" : "C:\\Users\\Brendan Ortiz\\Documents\\GOProjcets\\AllSecure\\Config\\AllSecure.Config",
    "ProjectDir" : "C:\\Users\\Brendan Ortiz\\Documents\\GOProjcets\\AllSecure"
}
