ConfigFilePath=C:\Users\Brendan Ortiz\Documents\GOProjcets\AllSecure\Config\AllSecure.Config
DatabaseFilePath=C:\Users\Brendan Ortiz\Documents\GOProjcets\AllSecure\Database\AllSecure.db
ProjectDir=C:\Users\Brendan Ortiz\Documents\GOProjcets\AllSecure
ListeningServerPort=:443
ListeningServerAddress=127.0.0.1
ListeningServerMethod=POST
ListeningServerName=AllSecureListener
ListeningServerSecure=true
TeamServerName=AllSecureTS
TeamServerAddress=127.0.0.1
TeamServerPort=:31337
