{
    "Compiler64": "C:\\msys64\\mingw64\\bin\\gcc.exe",
    "Compiler86": "C:\\Program Files\\Microsoft Visual Studio\\2022\\Community\\VC\\Tools\\MSVC\\14.39.33519\\bin\\Hostx86\\x86\\cl.exe",
    "Nasm": "C:/Strawberry/c/bin/nasm.exe",
    "Masm": "C:/Program Files/Microsoft Visual Studio/2022/Professional/VC/Tools/MSVC/14.37.32822/bin/Hostx64/x64/ml64.exe",
    "DebugDev": false,
    "SendLogs": false
}