{
  "Arch": 1,
  "ListenerType": 1
  "ListenerConfig": {
    "Name": "Test Server",
    "KillDate": "1640995200",
    "WorkingHours": "8:00-17:00",
    "Method": "POST",
    "UserAgent": "Mozilla/5.0",
    "Headers": ["Content-Type: application/json"],
    "HostHeader": "127.0.0.1",
    "Secure": true,
    "HostRotation": "round-robin",
    "Hosts": ["127.0.0.1:443", "0.0.0.0.443"],
  },
  "Config": {
    "Sleep": "1000",
    "Jitter": "10",
  }
}